.content-container {
    max-width: 450px;
    background: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-card {
    background: #f9fafb;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    max-width: 700px; 
    width: 100%;
}

    .login-card h2 {
        text-align: center;
        margin-bottom: 35px; 
        font-size: 2rem; 
        color: #2d3748; 
    }

.role-selection {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 35px; 
}

    .role-selection label {
        cursor: pointer;
        text-align: center;
        color: #4a5568;
    }

    .role-selection img {
        width: 110px; 
        height: 110px; 
        transition: transform 0.2s ease-in-out; 
    }

        .role-selection img:hover {
            transform: scale(1.1); 
        }

    .role-selection input {
        display: none;
    }

    .role-selection label input:checked + img {
        border: 6px solid #3182ce; 
        border-radius: 12%;
    }

.table-container {
    border: 2px solid #343a40; 
    border-radius: 8px; 
    padding: 15px; 
    margin-top: 20px; 
    background-color: #ffffff; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

    table th, table td {
        padding: 12px 15px;
        border: 1px solid #ddd;
    }

    table th {
        background-color: #343a40;
        color: #ffffff; 
        font-weight: bold;
    }

    table tbody tr:nth-child(even) {
        background-color: #f8f9fa;
    }

    table tbody tr:hover {
        background-color: #e9ecef; 
    }

h2 {
    margin-bottom: 25px;
    font-size: 2rem; 
    color: #2d3748; 
    font-weight: bold;
}

.student-info {
    background-color: #aff9fa;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

    .student-info h4 {
        font-size: 0.9rem; 
        font-weight: bold;
    }

    .student-info p {
        font-size: 0.9rem; 
        line-height: 1.6;
    }

    .student-info hr {
        margin-top: 20px;
        border-color: #333; 
        border-width: 3px; 
        border-style: solid; 
        width: 100%; 
    }

.course-selection {
    overflow-x: auto; 
    overflow-y: auto; 
    max-height: 400px;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 10px; 
}

    .course-selection table {
        width: 100%;
        margin-top: 20px;
        background-color: #ffffff;
        border-collapse: collapse; /* Collapse cell borders */
    }

    .course-selection th, .course-selection td {
        text-align: center;
        padding: 12px;
        border: 1px solid #ddd; /* Cell borders */
    }

    .course-selection thead {
        background-color: #343a40; /* Header background */
        color: white; /* Header text color */
    }

    .course-selection tbody tr:nth-child(even) {
        background-color: #f8f9fa;
    }

    .course-selection tbody tr:hover {
        background-color: #e9ecef;
    }

.form-group {
    margin-top: 20px;
    text-align: center;
}

.alert-warning {
    text-align: center;
    background-color: #fff3cd;
    color: #856404;
    padding: 10px;
    border-radius: 8px;
}
